*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bsp/

# Scala-IDE specific
.scala_dependencies
/.cache
*/target
/.classpath
/.project

# IntelliJ IDEA specific
.idea/*
.idea_modules/*
*.iml

# Metals specific
.vscode
.bloop
.metals
**/project/metals.sbt
